<div class="container">
  <h1 class="mt-3">ExamScoreList</h1>

  <div class="d-flex justify-content-end mt-3">
    <a [routerLink]="['/admin/examscores/add']" class="btn btn-primary">Add Examscore</a>
  </div>

  <ng-container>
    <div class="table-responsive">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>
              <input class=""form-control m-2 
              [(ngModel)] = "stIDFilter"
              (keyup)="FilterFn()"
              placeholder="Filter"
              >
              Student ID
            </th>
            <th>
              <input class=""form-control m-2 
              [(ngModel)] = "nameFilter"
              (keyup)="FilterFn()"
              placeholder="Filter"
              >
              Student Name
            </th>
            <th>
              <input class=""form-control m-2 
              [(ngModel)] = "cFilter"
              (input)="FilterFn()"
              placeholder="Filter"
              >
              Course
            </th>
            <th>
              <input class=""form-control m-2 
              [(ngModel)] = "classFilter"
              (input)="FilterFn()"
              placeholder="Filter"
              >
              Class/Major
            </th>
            <th>
              <input class=""form-control m-2 
              [(ngModel)] = "scoreFilter"
              (input)="FilterFn()"
              placeholder="Filter"
              >
              Score
            </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let examscore of examscores">
            <td>{{examscore.id}}</td>
            <td>{{examscore.stId}}</td>
            <td>{{examscore.student.name}}</td>
            <td>{{examscore.course.nameCourse}}</td>
            <td>{{examscore.student.class}}</td>
            <td>{{examscore.score}}</td>
            <td>
              <a class="btn btn-light" [routerLink]="['/admin/examscore', examscore.id]">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
