<div class="container">
  <h1 class="mt-3">Add ExamScore</h1>

  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-2">
      Student: {{myControl.value || 'empty'}}
      <br>
      <mat-form-field class="example-full-width mt-2">
        <mat-label>Student</mat-label>
        <input type="text" placeholder="Enter name" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option.name">
            <span>{{option.name}}</span> |
            <small>StudentID: {{option.id}}</small>
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <br>Course: {{course.value || 'empty'}}
      <br>
      <mat-form-field class="example-full-width mt-2">
        <mat-label>Course</mat-label>
        <input type="text" placeholder="Enter course" aria-label="Number" matInput [formControl]="course"
          [matAutocomplete]="auto1">
        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
          @for (o of filteredCourses | async; track o) {
          <mat-option [value]="o.nameCourse">
            <span>{{o.nameCourse}}</span> |
            <small>courseID: {{o.id}}</small>
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <div>
        Score
        <br>
        <mat-form-field class="example-full-width mt-2">
          <mat-label>Score</mat-label>
          <input type="number" matInput maxlength="5" placeholder="Enter score" [formControl]="score">
          <mat-error *ngIf="score.hasError('required')">Score is required</mat-error>
    <mat-error *ngIf="score.hasError('min')">Score must be at least 0</mat-error>
    <mat-error *ngIf="score.hasError('max')">Score must be at most 10</mat-error>
        </mat-form-field>
      </div>
      
      
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>